# requirements-runtime.txt (dependencies needed at runtime)
# for venv all needed dependencies

# if >=x.xx.x in comment, last known stable version
# after that, purpose of library

# Tag-Syntax für sync_dependencies: [tagname] im Kommentar
# Beispiel: [telegram] = wird installiert wenn telegram-Plugin aktiv ist
# Mehrere Tags möglich: [telegram][http]
# [core] = für das Kernprogramm selbst
# [manager] = nur für den Manager selbst

# requirements-runtime.txt
pyyaml==6.0.3 # [core] Basis-System
packaging==26.2 # [core] Versionskontrolle VENV
requests==2.32.5 # [telegram] Benachrichtigungen
aiohttp==3.13.5 # [http][divera] HTTP-Schnittstelle
mysql-connector-python==9.4.0 # [mysql] Datenbank-Anbindung
geocoder==1.38.1 # [geocoding] GPS-Dienste
paho-mqtt==2.1.0 # [mqtt] MQTT-Publishing

# Manager-Abhängigkeiten
alive-progress==3.3.0  # [manager] Fortschrittsbalken im Manager
colorama==0.4.6 # [manager] Farbgestaltung von Text